<!DOCTYPE html>
<html>
  <head>
    <title><%= @node -%></title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/css/default.css"/>
  </head>
  <body>
	<header>
	  <h1 class="header_title">Node <%= @node -%> Graph  </h1>
	</header>
	<div class="contents">
	  <div class="nav">
		<nav class="node_nav">
		  <h1 class="node_nav_title">All nodes</h1>
		  <ul>
			<% @all_nodes.each { |node| -%>
			<li class="node_nav_link"><a class="node_nav_link" href="/node_graph/<%= node -%>/<%= @begin_time.to_i -%>,<%= @end_time.to_i -%>"><%= node -%></a> </li>
			<% } -%>
		  </ul>
		</nav>

		<nav class="category_nav">
		  <h1 class="node_nav_title">All Category</h1>
		  <ul>
			<% @graph_template_paths_of.keys.sort.each { |category| -%>
			<li class="category_nav_link">
			  <a href="#section_category_<%= Rocuses::UI::escape_category( category )-%>" class="category_nav_link"><%= category -%></a>
			</li>
			<% } -%>
		  </ul>
		</nav>
	  </div>
	  <div class="graph">
		<nav class="period_nav">
		  <h1 class="period_nav_title">Graph Period</h1>
		  <div class="fixed_period">
			<ul class="period_nav_link">
			  <li class="period_nav_link"><a class="period_nav_link" href="/node_graph/<%= @node -%>/daily">daily</a></li>
			  <li class="period_nav_link"><a class="period_nav_link" href="/node_graph/<%= @node -%>/weekly">weekly</a></li>
			  <li class="period_nav_link"><a class="period_nav_link" href="/node_graph/<%= @node -%>/monthly">monthly</a></li>
			  <li class="period_nav_link"><a class="period_nav_link" href="/node_graph/<%= @node -%>/yearly">yearly</a></li>
			</ul>
		  </div>
          <div class="dynamic_period" >
		  <form action="/node_graph/<%= @node -%>" method="GET">
			begin: <input type="text" name="begin_time" value="<%= @begin_time.strftime( "%Y-%m-%d %H:%M" ) -%>"/>
			end:   <input type="text" name="end_time"  value="<%= @end_time.strftime( "%Y-%m-%d %H:%M" ) -%>"/>
			<input type="submit"/>
		  </form>
          </div>
		</nav>
		<section class="graph_section">
		  <% @graph_template_paths_of.keys.sort.each { |category| -%>
		  <section class="section_graph_template">
			<h1 id="section_category_<%= Rocuses::UI::escape_category( category )-%>" class="section_graph_template"><%= category -%></h1>
			<ul>
			  <% @graph_template_paths_of[category].sort.each { |graph_template_path| -%>
			  <li class="graph_list_item"><img class="graph_image" src="<%= graph_template_path -%>"/></li>
			  <% } -%>
			</ul>
		  </section>
		  <% } -%>
		</section>
	  </div>
	</div>
	<footer>
	</footer>
  </body>
</html>

