<html>
  <head>
    <title><%= @node -%></title>
  </head>
  <body>
    <header>
      <a href="/node_graph/<%= @node -%>/<%= Time.now.to_i -       24 * 60 * 60 -%>,<%= Time.now.to_i -%>">daily</a> 
      <a href="/node_graph/<%= @node -%>/<%= Time.now.to_i -   7 * 24 * 60 * 60 -%>,<%= Time.now.to_i -%>">weekly</a> 
      <a href="/node_graph/<%= @node -%>/<%= Time.now.to_i -  31 * 24 * 60 * 60 -%>,<%= Time.now.to_i -%>">monthly</a> 
      <a href="/node_graph/<%= @node -%>/<%= Time.now.to_i - 365 * 24 * 60 * 60 -%>,<%= Time.now.to_i -%>">yearly</a> 
    </header>
    <% @graph_templates.each { |graph_template| -%>
	  <img src="<%= graph_template[:path] -%>"/><br>
    <% } -%>
</body>
</html>

